# Only packages that we use ourselves. All sub-requrements are frozen in packages.txt

dumb-init>=1.2              # kill signals handler
uWSGI>=2.0                  # app server for Python and nginx

psycopg2>=2.7               # PostgreSQL connector
redis>=2.10                 # redis connector; redis backend for celery

PyYAML>=3.12                # YAML
ujson>=1.15                 # JSON
msgpack-python>=0.4         # msgpack

Pillow>=4.1                 # image processing library; disabled LIBIMAGEQUANT since pngquant is missing in Alpine 3.6

python-magic>=0.4.13        # recognize content type by content
geopy>=1.11                 # geocoding / -decoding

# DEV #
# Disable for instance -- it does not track changes in all files inside Docker for Maс
pyinotify>=0.9              # better check code updates using inotify

celery>=4.0                 # background worker

Django>=1.11,<2.0           # web framework, last stable version

dj-database-url>=0.4        # database config via URL
django-cache-url>=2.0       # cache config via URL
dj-email-url>=0.0.10        # email config via URL
django-redis>=4.8           # django redis cache backend

djangorestframework>=3.6    # REST framework
Markdown>=2.6               # optional for djangorestframework: Markdown support for the browsable API
django-filter>=1.0          # optional for djangorestframework: filtering support
django-crispy-forms>=1.6    # optional for djangorestframework: Improved HTML display for filtering

# TODO: Use pypi once released https://github.com/django/channels/issues/672
#channels>1.1.5             # WebSockets for Django + sort of event-driven
https://github.com/django/channels/archive/e2444308ffa756f516e4b28983058d710a78c4e5.tar.gz
asgi-redis>=1.4             # optional for daphne (channels): redis backend for asgi

# TODO: Install GeoDjango, including GDAL (missing from Alpine)

# django-postgres-geometry
# https://github.com/expobrain/django-postgres-geometry/archive/0.1.3.tar.gz
# TODO: Install once compatible with Django 1.11
