<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Upload</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}upload.css" />
	<script>{# that must go BEFORE upload.js #}
		window.UPLOAD_SESSION_ID = "{{ UPLOAD_SESSION_ID|escapejs }}";
		window.PLACEHOLDER_IMAGE_SRC = "{{ STATIC_URL|escapejs }}placeholder.svg";
		window.WEBSOCKET_URL = "ws://{{ WEBSOCKET_URL|escapejs }}";
	</script>
	<script src="{{ STATIC_URL }}upload.js"></script>
</head>
<body>
<h1>Upload</h1>

<p>Please drop you files anywhere
	or <button onClick="document.getElementById('file_input').click(event); return false;">select files</button>
	or <button onClick="document.getElementById('directory_input').click(event); return false;">select directories</button>
	<input type="file" multiple id="file_input" onchange="uploadFiles(this.files)" style='display:none' />
	<input type="file" multiple webkitdirectory id="directory_input" onchange="uploadFiles(this.files)" style='display:none' />
</p>

<p>Upload would start automatically. <a href="{% url 'catalog:list' %}">List of photos</a></p>

<div class="hidden fullscreen" id="drop-info">
	<div>
		Drop files anywhere
	</div>
</div>

{% spaceless %}
<div id="upload_remaining"></div>

<div style="display: inline-block; width: 20%;">
	<div id="currently_uploading"></div>
	<div id="images_to_upload"></div>
</div>

<div class="" id="uploaded_images">
{% comment %}
DIV with uploaded files (thumnail) -- with controls to operate:
 - rotate
 - group into shot-set
 - etc.
{% endcomment %}
</div>

{% endspaceless %}

</body>
</html>
