.day-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.day-title {
    display: block;
    position: sticky;
    top: 0;
    page-break-after: always;
    background-color: white;
    padding: 0.5em;
    margin: 0 -0.5em;
    font-family: Arial;
    z-index: 1; /* above play-video button */
}

.show-month {
    cursor: pointer;
    font-family: Arial;
}

.media {
    display: inline-flex;
    margin: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.media_video {
    border-top: dashed 2px black;
    border-bottom: dashed 2px black;
}

.media > img.play-video {
    opacity: 0.5;
}

.media:hover > img.play-video {
    opacity: 1;
}

.noscrolling {
    overflow: hidden;
}

.popup-media {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 100, 100, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
}

.popup-media > img, .popup-media > video {
    display: inline-flex;
    max-width: 100%;
    max-height: 100%;
}

.popup-media-controls {
    position: absolute;
    opacity: 0;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: flex;
    padding: 0.3em 0.5em;
}

.popup-media-controls:hover {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.popup-media-close {
    top: 0;
    left: 0;
    right: 0;
    justify-content: flex-end;
}

.popup-media-prev {
    top: 0;
    left: 0;
    bottom: 0;
    align-items: center;
}

.popup-media-next {
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
}
