.hidden {
	display: none;
}

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: dashed 1px red;
	background-color: rgba(244, 245, 203, 0.7);
	text-align: center;
	pointer-events: none;
	font-family: arial;
	font-size: 10px;
}

.fullscreen > div {
	pointer-events: none;
	display: inline-block;
	background-color: white;
	margin: 5px;
	padding: 5px;
	border: dashed 1px red;
}

.upload_file {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 1px 0 0 1px;
	border: solid 1px #CCC;
	background-color: blue;
}

.upload_file.type_image {
	background-color: green;
}

.upload_file.type_video {
	background-color: red;
}

.progress {
	width: 100%;
	height: 0;
	background-color: rgba(255, 255, 255, 0.8);
}
