.hidden {
	display: none !important;
}

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: dashed 1px red;
	background-color: rgba(244, 245, 203, 0.7);
	text-align: center;
	pointer-events: none;
	font-family: arial;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fullscreen > div {
	pointer-events: none;
	display: inline-flex;
	background-color: white;
	margin: 5px;
	padding: 5px;
	border: dashed 1px red;
}

#images_to_upload {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
}

#uploaded_images {
	display: inline-block;
	width: 80%;
	vertical-align: top;
	line-height: 0;
}

.upload_file {
    display: inline-flex;
    margin: 1px 0 0 1px;
    border: solid 1px black;
}

.upload_file.type_image {
    border-color: darkgreen;
}

.upload_file.type_video {
    border-color: orange;
}

.upload_file.uploaded {
	transition: opacity 0.1s;
	opacity: 0;
}

.progress {
	width: 100%;
	height: 0;
	background-color: rgba(255, 255, 255, 0.8);
}

div.media {
	width: 48px;
	height: 48px;
	display: inline-block;
	margin: 5px 0 0 5px;
	vertical-align: middle;
	background-color: #EEE;
	border: solid 1px #CCC;
}

img.media {
	margin: 5px 0 0 5px;
	max-width: 80px;
	max-height: 80px;
	vertical-align: middle;
	border: solid 1px #EEE;
}

/* TODO: Something better for hover effect. Maybe another absolute-positioned DIV on top */

img.media:hover {
    animation-duration: 0.5s;
    animation-name: image-hover;
    max-width: 160px;
    max-height: 160px;
}

@keyframes image-hover {
    from {
        max-width: 80px;
        max-height: 80px;
    }
    to {
        max-width: 160px;
        max-height: 160px;
    }
}

.tiny {
    width: 5px;
    height: 5px;
    background-color: green;
}

.small {
    width: 10px;
    height: 10px;
    background-color: yellowgreen;
}

.medium {
    width: 20px;
    height: 20px;
    background-color: yellow;
}

.large {
    width: 30px;
    height: 30px;
    background-color: #ffe3b3;
}

/* if size class changes -- break a line */
.tiny + :not(.tiny), .small + :not(.small), .medium + :not(.medium), .large + :not(.large) {
    page-break-before: always;
    break-before: always;
}
